@charset "utf-8";

/* admin CSS Document */
:root{
  --adm-bg: #D3DBF9
}
body{background: #fff;}
#header{background-color:  var(--main2-color);}
#gnb.adminGnb {
 background-color: var(--main2-color);
}
.admin-container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 40px);
}

.admin-container{padding-bottom: 50px; padding-top:10px}

.chat-stats{
  width: 100%;
  height: 400px;
  background-color: var(--adm-bg);
  padding:10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 16px;
}

.chatAdmin-wrap__setting{display: flex; flex-wrap:wrap; justify-content: space-between; align-items: flex-start; gap:50px}

.chatAdmin-wrap__setting .left, .chatAdmin-wrap__setting .right{display: flex; flex-direction: column; flex:1 auto; }

.adm-secTitle{display: flex; justify-content: space-between; align-items: center; margin-bottom: 20px; font-size: 24px; font-weight: 700;}

.inline-form-group{border-top:1px solid #0F3966 }
.inline-form-group li{border-bottom:1px solid #999999; display: flex;}
.inline-form-group li .title{background-color: var(--adm-bg); flex:1 0 300px; display: flex; align-items: center; justify-content: center; font-weight: 700; }
.inline-form-group li .input-box{background-color: #fff; flex:1 1 100%; padding:10px; display: flex; align-items: center; }

.input-box__row{display: flex; align-items: center; gap:10px }

.admBtn-area{display: flex; justify-content: center; align-items: center; margin-top: 20px; width: 100%; }
.admBtn-area.right{justify-content: flex-end;     align-items: flex-end; }

.admin-container .sub-title h2{color:#222222}
.admin-container .whiteTable {
  padding: 12px;
  border-radius: 16px;
  background-color: #fff;
  border:1px solid #CCCCCC
}

/*관리자 버전 페이징*/

.admin-container .a-firstpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-firstpage_gray.png) no-repeat;
  background-size: cover;
  background-position: center center;
  content: "";
}

.admin-container .a-prevpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-prevpage_gray.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center center;
}

.admin-container .a-nextpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-nextpage_gray.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center;
}

.admin-container .a-lastpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-lastpage_gray.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center;
}

.admin-container .a-page-el {
  width: var(--page-el-width);
  height: var(--page-el-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  color: #222222;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.admin-container .a-current-page {
  background:#0F3966;
  color: #fff;
  border-radius: 4px;
}


@media screen and (max-width: 1024px){
  .inline-form-group li .title{ flex:1 0 200px; }
}

@media screen and (max-width: 768px){
  .inline-form-group li .title{ flex:1 0 200px; }
}