/** setting */
@import url(setting/font/pretendard.css); /*폰트*/
@import url(setting/vars.css); /*변수*/
@import url(setting/common.css); /*common*/
@import url(setting/board.css); /*board*/

/** layout */
#header{ background-color: var(--main2-color);; width: 100%; display: flex; height: 0; justify-content: space-between; padding:20px; align-items: center;}
#dashboard{display: flex; width: 100%; height: auto;  padding: 0; align-items: stretch;
}
#gnb{
  background-color:transparent; 
  width: 290px; 
  justify-content: center; 
  flex-basis: 1;
  flex-shrink: 0;
  transition: width 0s; /* width를 대상으로 transition 설정 */
  padding-top: var(--pc-content-topPadding);
  background-color: var(--main2-color);
}
#contents{background-color: transparent; width: 100%; padding: 0 30px; padding-top: var(--pc-content-topPadding); }
#footer{
  bottom:0px;
  background-color: var(--main2-color); 
  width: 100%; 
  height: 50px; 
  display: flex;
  justify-content: center;
  align-items: center;
  color:#fff;
}

.whiteList{border-radius: 16px; background-color: #fff; overflow: hidden;}
.whiteList li{ background-color: #fff; overflow: hidden; display: flex; height: 50px; align-items: center;border-bottom: 1px dotted #002839; justify-content: space-between; padding:0 12px; gap:10px}
.whiteList li:last-child{border-bottom: 0;}


.notice-list .state{width:63px; height: 26px; display: flex; justify-content: center; align-items: center; background-color: gray; color:#fff; border-radius: 5px; font-size: 12px; gap:5px; flex:0 63px}

.notice-list .state.state-notice{background-color: #455785;}
.notice-list .state.state-notice::before{content:""; display: block; background: url(../images/ico/ico-state-notice.svg); width: 12px; height: 10px;}

.notice-list .state.state-case{background-color: #FF5545;}
.notice-list .state.state-case::before{content:""; display: block; background: url(../images/ico/ico-state-case.svg);  width: 12px; height: 11px;}

.notice-list .state.state-deputy{background-color: #458FFF;}
.notice-list .state.state-deputy::before{content:""; display: block; background: url(../images/ico/ico-state-deputy.svg);  width: 11px; height: 12px;}

.whiteList li .subject { flex: 1 1 410px;   white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
.whiteList li .subject a {
  font-size: 12px;
  display: block; 
  width: 100%; 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  font-weight: 500;
  box-sizing: border-box;
}
.whiteList li .subject a:hover{text-decoration: underline;}
.whiteList li .writer{font-size: 12px; flex: 0 0 100px; font-weight: 500;}
.whiteList li .date{font-size: 12px; flex: 0 0 100px; text-align: center; font-weight: 500;}

/*스몰 메뉴 css*/
#gnb.smallMenu{width:70px; background-color: var(--main-color);   transition: width 0.2s; /* width를 대상으로 transition 설정 */ }
#gnb.smallMenu .user-profile__name,#gnb.smallMenu .user-profile__stats, #gnb.smallMenu .logo-img,#gnb.smallMenu .menuBtn span  {display: none;}

#gnb.smallMenu .logo-simg{display: block;}

#gnb.smallMenu .menu-list .menuBtn{width: 100%; transition: all 0s;}

#gnb.smallMenu .user-profile__thumbnail .images {
  width: 48px;
  height: 48px;
}

#gnb.smallMenu  .menu-list .menuBtn.on, #gnb.smallMenu  .menu-list .menuBtn:hover {
  background-color: transparent;
}




.gnb-layout{display: flex; flex-direction: column; align-items: center; /* height: 100%; */ }
.gnb-title{margin-bottom: 38px;}


.leftMenu{width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.user-profile{display: flex; align-items: center; margin-bottom: 35px; flex-direction: column; gap:10px}
.user-profile__thumbnail{position: relative;}
.user-profile__thumbnail .images{width: 82px; height: 82px; overflow: hidden; border-radius: 50%; }

.user-settings{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 24px; height: 24px; background-color: #FF5545; border-radius: 50%; color:#fff; position: absolute; bottom:0px; right:0}
.user-settings::before{
  content: '';
  display: block;
  width: 12px;
  height: 13px;
  background:url("../images/ico/ico-setting.svg");
  border-radius: 50%;
  position: absolute;
  top:5px
}

.user-profile__name{font-size: 18px; color:#fff; font-weight: 500; letter-spacing: 4px;text-align: center; }

.user-profile__stats{ color:#fff; display: flex; gap:16px}


a.points, a.messages{display: flex; align-items: center; font-weight: 700; font-size: 14px; color:#fff; gap:4px}
.ico-point::before{display: block; content:""; width: 18px; height: 18px; background:url("../images/ico/ico-point.svg") no-repeat; background-size: 100% 100%; margin-right: 5px;}

.ico-message::before{display: block; content:""; width: 18px; height: 16px; background:url("../images/ico/ico-message.svg") no-repeat; background-size: 100% 100%; margin-right: 5px;}

.menu{width: 100%; height: 100%; overflow-y: auto; overflow-x: hidden;

  padding-top: env(safe-area-inset-top, 0);
  &::-webkit-scrollbar {
    width: 7px;  
    height: 7px;
}

&::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

&::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);  /*스크롤바 뒷 배경 색상*/
    
}
}
.menu-list{display: flex; flex-direction: column; gap:10px; align-items: center;}
.menu-list .menuBtn{display: flex; flex-direction: column; align-items:center ; width: 160px; height:70px; justify-content: center; border-radius: 16px; transition: all 0.2s ease-in-out;}
.menu-list .menuBtn.on, .menu-list .menuBtn:hover{background-color: var(--main-color);}

.menuBtn span{color:#fff; font-size: 16px; font-weight: 500;  text-align: center; display: block; margin-top:5px}

.ico-chatGpt::before {
    content: "";
    background: url(../images/ico/ico-chatGPT.png);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-case::before {
    content: "";
    background: url(../images/ico/ico-case.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-ss::before {
    content: "";
    background: url(../images/ico/ico-ss.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-library::before {
    content: "";
    background: url(../images/ico/ico-library.svg);
    width: 22px;
    height: 21px;
    display: block;
    background-size: 100% 100%;
}

.ico-law::before {
    content: "";
    background: url(../images/ico/ico-law.svg);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-notice::before {
    content: "";
    background: url(../images/ico/ico-notice.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.btn-menuSizeToggle{background-color: transparent; margin:30px 0;}
.btn-menuSizeToggle::before{content: ""; background: url(../images/ico/ico-menuSmall.svg); width: 22px; height: 22px; display: block; background-size: 100% 100%;}
.btn-menuSizeToggle.on::before{content: ""; background: url(../images/ico/ico-menurlarge.svg); width: 22px; height: 22px; display: block; background-size: 100% 100%;}

.logo-simg{display: none;}


.main-container{width: 100%;  display: flex;  gap:0 30px; flex-wrap: wrap;}
.main-container .left {width: 100%;  flex:1 1 45%; }
.main-container .right {width: 100%;  flex:1 1 45%;  }

.sub-container{width: 100%; height: 100%;  min-height: calc(100vh - 40px);}

.ai-search{border-radius: 16px; overflow: hidden; background-color: #fff;}
.ai-search .form-control{  border:0; height: 60px;}

.ai-search__btn{ background-color: #fff; width: 60px; display: flex; align-items: center; justify-content: center;}
.ai-search__btn::before{
  content: "";
  background: url(../images/ico/ico-search.svg);
  width: 20px;
  height: 20px;
  display: block;
  background-size: 100% 100%;
}


.sec-box{margin-bottom:36px; width: 100%;}
.sec-box__title{font-size: 22px; color:#fff; margin-bottom: 16px;}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--main-color);
}
.nav-link:focus, .nav-link:hover, .nav-link {
  color:#fff;
  background-color: var(--main3-color);
  font-size: 12px;
}

.mainTab{margin-bottom:10px}
.mainTab .nav-link{width: 70px; height: 40px; padding:0 0px}


.whiteTable{padding:12px; border-radius: 16px; background-color: #fff;}
.thead-bg{background: #fff; position: relative;}
.thead-bg tr th{background-color: #D3DBF9; text-align: center; }
.tr-link tr td{cursor: pointer; text-align: center; height: 50px; font-size: 12px; vertical-align: middle; font-weight: 500;}

.td-subect{ 
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  max-width: 250px;
}

.sec02 .whiteTable, .calTable .whiteTable{max-height:330px; overflow: auto;
}


.notification-list{display: flex; gap:25px; justify-content: space-between;}
.notification-list li{display: flex;}
.notification-list li a{width: 180px; height: 110px; display: flex; flex-direction: column; align-items: center; background-color: #fff; border-radius: 16px; justify-content: space-between; overflow: hidden;
  box-shadow: 0 10px 0 #184F88;}

.notification-list li a .tit {
  width: 100%;
  text-align: center;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  background: linear-gradient(to bottom, #FFFFFF, #DEDEDE);
  position: relative;
  color:#000
}
.notification-list li a .tit::before {
  content: "";
  display: block;
  background: url(../images/common/notification-deco.svg);
  width: 18px;
  height: 10px;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.notification-list li a .value {
  width: 100%;
  text-align: center;
  display: flex;
  height: 55px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color:#0F3966;
  font-size:26px
}

.calTable{margin-top: 36px;}
.gnbMenuToggle{background-color: transparent;}
.gnbMenuToggle::before{content:""; background: url(../images/meneBtn.svg); width: 50px; height: 38px; display: block; background-size: cover;}

.mobile-logo{max-width: 300px; width: 100%;}
.menuRightClosePosi{position: absolute; right: 30px; top:30px}
.form-container {
  max-width: 1144px;
  margin: 0 auto;
  padding: 25px 30px;
  border-radius: 15px;
  background-color: #fff;
}
.form-container .form-area__inputList {
  border-top: 2px solid #0F3966;
}
.form-container .form-item {
  border-bottom: 1px solid #999;
  padding-right: 20px;
}
.form-container .form-row {
  display: flex;
  gap: 20px;
  align-items: center;
}
.form-container .form-row .form-date-area {
  display: flex;
  gap: 10px;
}
.form-container .form-row .form-date-area .form-control {
  width: 175px;
}
.form-container .form-group {
  display: flex;
  gap: 20px;
  align-items: center;
  width: 100%;
}
.form-container .form-group .form-group__inputWarp {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 100%;
}
.form-group__inputWarp label {
  display: flex;
  align-items: center;
  font-size: 14px;
  cursor: pointer;
}

.form-container .title__area {
  padding-bottom: 8px;
  border-bottom: 0.5px solid var(--main-color);
  margin-bottom: 23px;
  display: flex;
  justify-content: space-between;
}
.form-container .title__area .form__title {
  font-size: 22px;
  font-weight: 700;
  color: #1E356D;
}
.form-container .title__area .btn-close {
  width: 16px;
  height: 16px;
}
.form-container .form-group .label__title {
  max-width: 140px;
  width: 100%;
  height: 75px;
  background-color: #eee;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;
}
.form-container .form-group .label__title .required {
  color:#FF5545;
  margin-left: 3px;
}
.form-container .form-group .label__title.tax_invoice__title .required {
  margin-top: 22px;
  margin-left: -2px;
}
.form-container .form-group .details__title{
  height: 182px !important;
}
.form-container .form-group .form-row {
  display: flex;
  gap: 10px;
  width: 100%;
}
.form-container .form-group input[type="text"],
.form-container .form-group input[type="tel"],
.form-container .form-group input[type="email"],
.form-container .form-group input[type="number"]{
  width: 100%;
  height: 36px;
  border-radius: 4px;
  border: 1px solid var(--gray-2);
}
.form-container .form-group textarea{
  width: 100%;
  border: 1px solid var(--gray-2);
}
.form-container .form-group input::placeholder,
.form-container .form-group textarea::placeholder{
  color: #B3B3B3;
}

.form-container .form-button {
  margin-top: 30px;
}
.form-button {
  max-width: 290px;
  margin: 0 auto;
  display: flex;
  gap: 10px;
}
.form-button button {
  width: 50%;
  height: 36px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}
.form-button .cancel {
  background-color: #A2A2B5;
}
.form-button .submit {
  background-color: var(--main-color);
}
.form-button button :hover {
}


.chk_list
.chk-switch {
  height: 0;
  width: 0;
  visibility: hidden;
}
.chk-switch + label {
  cursor: pointer;
  text-indent: -9999px;
  width: 80px;
  height: 32px;
  background: #728199;
  display: block;
  border-radius: 100px;
  position: relative;
  border:4px solid #fff;
}
.chk-switch + label:after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 18px;
  transition: 0.3s;
}
.chk-switch:checked + label {
  background: var(--main-color);
}
.chk-switch:checked + label:after {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}
.chk-switch:active:after {
  width: 130px;
}

.switch-box{position: relative;     width: 90px;
  height: 32px; font-size: 14px;}

.switch-box .chk_y {
  position: absolute;
  top:6px;
  left: 35%;
  transform: translateX(-50%);
  color:#fff;
  text-align: center;
  display: none;
  cursor: pointer;
}
.switch-box .chk_n {
  position: absolute;
  top:6px;
  right: 20%;
  transform: translateX(-50%);
  color:#fff;
  text-align: center;
  display: block;
  cursor: pointer;
}

.chk-switch:checked + label + .chk_y{display: block;}
.chk-switch:checked + label + .chk_y + .chk_n{display: none;}

.search-area {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  flex-wrap: wrap;
  gap: 12px;
}
.search-area .left{flex:0 40%}
.search-area .right{flex:0 40%}
.search-area__inputList{display: flex; gap:10px}
.date-input-wrap{display: flex; align-items: center; gap:10px}


.sub-title{ display: inline-flex; padding:10px 0; font-size: 30px;color:#fff; justify-content: center; align-items: center; gap:20px; position: relative;}
.sub-title h2{ color:#fff;}
.subBg-line{position: relative;}
/* .subBg-line::before{height: 3px; width:80%; background-color: #83a4c7; content: ""; position: absolute; top: 50%; left: 250px; transform: translateY(-50%); z-index: -1;} */

.sub-title .ico{background:url(../images/sub-titleBg.png); width: 42px; height: 43px; display: flex; align-items: center; justify-content: center; position: relative;}
.sub-title .pos-ss::before{position: absolute; top:10px; left:13px}

.board-top-search-container{margin-top: 26px;}
.board-menuList{display: flex; justify-content: space-between; margin-bottom: 20px; flex-wrap: wrap; gap:12px}
.board-menuList .sub-link-list{display: flex;}

.subMenuLink{display: flex; align-items: center; justify-content: center; color:#fff; width: 140px; height: 40px; background-color: var(--main3-color); border-radius: 6px; transition: all 0.2s;}
.subMenuLink.on, .subMenuLink:hover{ background-color: var(--main-color);}

.board-menuList .right{display: flex; align-items: center;}

.btn-alSet{background-color: var(--main2-color); height: 36px; padding: 0 20px; border-radius: 6px; color:#fff; font-size: 14px; font-weight: 500; display: flex; align-items: center; gap:10px; cursor: pointer; border:1px solid #CCCCCC}

.sub-container .inner{min-height: 830px;}

.formStyle01{max-width:160px; width: 100%; font-size: 14px;}
.formStyle02{max-width:82px; width: 100%; font-size: 14px; border-color: var(--gray-2); flex-shrink: inherit;}
.formStyle03{width: 100%; font-size: 14px; border-color: var(--gray-2);}
.formStyle240{max-width: 240px; width: 100%; font-size: 14px;}
.btn-search{display: flex; gap:10px; max-width:84px ;}
.btn-search::before{content: ""; background: url(../images/ico/ico-btnSearch.svg); width: 20px; height: 20px; display: block; background-size: 100% 100%;}

.border-contents .inner{

}



/* 페이징 넘버링 */
.page {
  --page-el-width: 34px;
  --page-el-height: 34px;
  --paging-color: #1c4eba;
  margin-top: 54px;
  display: flex;
  width: 100%;
  justify-content: center;
}
.ul-page-list {
  display: flex;
  margin: 0 15px;
}
.ul-page-list li ~ li {
  margin-left: 5px;
}
.a-page-el {
  width: var(--page-el-width);
  height: var(--page-el-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0);
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
}
.a-current-page {
  background:#0F3966;
  color: #fff;
  border-radius: 4px;
}
.a-firstpage,
.a-prevpage,
.a-nextpage,
.a-lastpage {
  width: var(--page-el-width);
  height: var(--page-el-height);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  margin: 0 3px;
}

.a-firstpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-firstpage.png) no-repeat;
  background-size: cover;
  background-position: center center;
  content: "";
}

.a-prevpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-prevpage.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center center;
}

.a-nextpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-nextpage.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center;
}

.a-lastpage::after {
  display: inline-block;
  width: var(--page-el-width);
  height: var(--page-el-height);
  margin-top: -2px;
  vertical-align: middle;
  background: url(../images/common/a-lastpage.png) no-repeat;
  content: "";
  background-size: cover;
  background-position: center;
}


/*상태*/
.ico-state{width:74px; height:30px; display: inline-flex; justify-content: center; align-items: center; border-radius: 15px; font-size: 14px;  font-weight: 500; color:#fff; background-color: #48526E; border:1px solid #fff}

.ico-state.state-ing{ background-color: #48526E; border:1px solid #48526E}
.ico-state.state-close{ background-color: #999999; border:1px solid #999999}
.ico-state.state-complete{ background-color: #FF5545; border:1px solid #FF5545}

.board-viewPage .whiteTable{padding:30px}

.board-viewPage__con .title{font-size: 22px; font-weight: 700; margin-bottom: 10px; display: flex; flex-wrap: wrap; gap:5px 20px}

.view-list{border-top: 1px solid #999; border-top: 2px solid #0F3966; width: 100%; display: flex; align-items: center; justify-content: center; flex-direction: column; }
.view-list .inline-row{display: flex; width: 100%; border-bottom:1px solid #999999 }
.inline-row-form{display: flex ; align-items: center; flex:1 40%; gap:20px}
.inline-row-form__tit{flex:0 0 140px; color:#000; padding:10px; height: 50px; display: flex; align-items: center; background-color: #EEEEEE; font-weight: 700; justify-content: center;}
.inline-row-form__conf{flex:1 auto; display: flex; align-items: center; padding:10px; background-color: #fff; font-size: 500;}

.view-contents{padding:20px}



.bookmark-area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark-area button {
  background: transparent;
}
.bookmark-area .bookmark::before {
  content: "";
  display: block;
  width: 17px;
  height: 16px;
  background: url(../images/ico/bookmark.svg) no-repeat center center;
  background-size: 100% 100%;
}
.bookmark.on::before {
  background: url(../images/ico/bookmark_action.svg) no-repeat;
}



@media screen and (max-width: 1800px) {
  .notification-list li a {
    width: 160px;
}

}
@media screen and (max-width: 1440px) {
  /* 노트북 해상도  */
  #gnb {
    width: 220px;
}
.notification-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.td-subect {
  max-width: 120px;
}


.search-area .right {
  flex: 1 100%;
}

}
@media screen and (max-width: 1280px) {
  /*갤럭시탭 해상도*/
  .form-container .form-row {
    flex-direction: column;
    gap: 0px;
    align-items: baseline;
  }
  .form-container .form-group .start-date {
    height: 160px;
  }
  .form-container .form-row .form-group.col:first-child {
    border-bottom: 1px solid #999;
  }
}

@media screen and (max-width: 1024px) {
  /* 태블릿 해상도 */
  #header {
    height: 60px;
}
.mobile-logo {
  max-width: 200px;
  width: 100%;
}

.gnbMenuToggle::before {
content: "";
background: url(../images/meneBtn.svg);
width: 24px;
height: 20px;
display: block;
background-size: cover;
}
#contents{padding: 0 10px;}
.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
}
#gnb {
  width: 0;
}
.gnb-layout{
  background-color: var(--main2-color);
}
.notification-list li a {
  width: 100%;
}
.notification-list li {
  display: flex;
  flex: 1 1 48%;
}
.notification-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
.btn-menuSizeToggle{display: none;}

.gnb-title {
  margin-bottom: 0;
  margin-top:20px
}


#footer {
  margin-top: 100px;
}

.search-area .letf{
width: 100%;
}
.search-area__inputList{flex-direction: column; width: 100%;}
.search-area__inputList > *{flex:1 100%; max-width: 100%;}
.date-input-wrap > * {
 max-width: 100%;
}
.btn-search{max-width: 100%; width: 100%;}

.ico-state {
  width: 55px;
  height: 30px;
  font-size: 12px;
}

.sub-title {
  /* font-size: 18px; */
}

.sub-container .inner {
  min-height: auto;
  margin-top: 20px;
}


.view-list .inline-row {
  border-bottom: 0;
  flex-direction: column;
}
.inline-row-form{
  border-bottom: 1px solid #999999;
}


.form-container .form-row {
  flex-direction: column;
  gap: 0px;
  align-items: baseline;
}

.form-container .form-row .form-date-area {
  align-items: center;
  width: 100%;
}
.form-container .form-item {
  padding-right: 0px;
}

}

@media screen and (max-width: 882px) {
  /* 갤럭시 폴드 해상도 */
}

@media screen and (max-width: 768px) {

    /*페이징 사이즈 조절*/
    .page {
      --page-el-width: 30px;
      --page-el-height: 30px;
    }

  #header {
    height: 60px;
  }

  .board-menuList .sub-link-list {
    display: flex;
    width: 100%;
  }

  .subMenuLink {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    width: 100%;
    flex:1 auto;
    height: 40px;
    background-color: var(--main3-color);
    border-radius: 6px;
    transition: all 0.2s;
  }

.form-container .form-row .form-date-area .form-control {
  width: 140px;
}


.inline-row-form__tit {
  flex: 0 0 80px;
  height: 100%;
}
.board-contents + .board-contents {margin-top: 20px;}
.board-viewPage .whiteTable {
  padding: 30px 10px;
}
.inline-row-form {
  gap: 5px;
}

.inline-row-form__conf{flex:0 auto; width: calc(100% - 80px); }
.board-viewPage__con .title {
  font-size: 18px;
}

.view-contents {
  padding: 20px 0;
}

.form-container .form-row .form-date-area {
  flex-direction: column;
  align-items: baseline;
}
.form-container .form-row .form-date-area > div {
  width: 100%;
}

.form-container .form-group .start-date {
  height: 290px !important;
}

.form-container .form-row .form-date-area .form-control {
  width: 100%;
}
.formStyle02 {
  width: 50%;
  max-width: none;
}

  }    



@media screen and (max-width: 576px) {
  .form-container {
    padding: 25px 15px;
  }
  .form-container .form-group .form-group__inputWarp {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .form-container .form-group .label__title {
    height: 100px;
    width: 80px;
  }
  .form-container .form-group .trial_date__title {
    height: 150px;
  }  .inline-row-form{
    border-bottom: 1px solid #999999;
    background-color: #EEEEEE;
  }
}

@media screen and (max-width: 480px) {
  .mobile-logo {
    max-width: 160px;
    width: 100%;
}

.gnbMenuToggle::before {
  content: "";
  background: url(../images/meneBtn.svg);
  width: 24px;
  height: 20px;
  display: block;
  background-size: cover;
}
}

@media screen and (max-width: 320px) {
}



/**프린트*/
@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    background: #fff;
  }
  /* 기본 스타일 초기화 */
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    background: auto !important; /* 배경 스타일을 초기화하여 자동으로 설정 */
  }

  /* 레이아웃 초기화 */
  body,
  html {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  /* 이미지 */
  img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    page-break-inside: avoid;
  }

  /* 링크 스타일 */
  a {
    text-decoration: underline !important;
    color: #000 !important;
  }

  /* 페이지 구분 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  /* 테이블 */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th,
  td {
    border: 1px solid #000 !important;
    padding: 8px !important;
  }

  /* 페이지 안 보이는 요소 숨기기 */
  .no-print,
  .hidden,
  .float-btnWrap,
  #section2 .main-tab,
  #header,
  #footer,
  .main-tab,
  .btn-bottom-wrap {
    display: none !important;
  }
  * {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
  }
}
