/** setting */
@import url(setting/font/pretendard.css); /*폰트*/
@import url(setting/vars.css); /*변수*/
@import url(setting/common.css); /*common*/
@import url(setting/board.css); /*게시판*/


/** layout */
#header{ background-color: var(--main2-color);; width: 100%; display: flex; height: 0;}
#dashborad{display: flex; width: 100%; height: 100vh; padding: 0;
}
#gnb{
  background-color: var(--main2-color); flex:1 0 290px;  justify-content: center; height: 100%; transition: all 0.2s ease-in-out; padding-top: var(--pc-content-topPadding);
}
#contents{background-color: beige; flex:1 1 100%; padding-top: var(--pc-content-topPadding);}


/*스몰 메뉴 css*/
#gnb.smallMenu{flex:1 0 70px; background-color: var(--main-color);  }
#gnb.smallMenu .user-profile__name,#gnb.smallMenu .user-profile__stats, #gnb.smallMenu .logo-img,#gnb.smallMenu .menuBtn span  {display: none;}

#gnb.smallMenu .logo-simg{display: block;}

#gnb.smallMenu .menu-list .menuBtn{width: 100%;}

#gnb.smallMenu .user-profile__thumbnail .images {
  width: 48px;
  height: 48px;
}



.gnb-layout{display: flex; flex-direction: column; align-items: center; height: 100%; }
.gnb-title{margin-bottom: 38px;}


.leftMenu{width: 100%; display: flex; flex-direction: column; align-items: center; justify-content: center;}
.user-profile{display: flex; align-items: center; margin-bottom: 35px; flex-direction: column; gap:10px}
.user-profile__thumbnail{position: relative;}
.user-profile__thumbnail .images{width: 82px; height: 82px; overflow: hidden; border-radius: 50%; }

.user-settings{display: flex; flex-direction: column; justify-content: center; align-items: center; width: 24px; height: 24px; background-color: #FF5545; border-radius: 50%; color:#fff; position: absolute; bottom:0px; right:0}
.user-settings::before{
  content: '';
  display: block;
  width: 12px;
  height: 13px;
  background:url("../images/ico/ico-setting.svg");
  border-radius: 50%;
  position: absolute;
  top:5px
}

.user-profile__name{font-size: 18px; color:#fff; font-weight: 500; letter-spacing: 4px; }

.user-profile__stats{ color:#fff; display: flex; gap:16px}


a.points, a.messages{display: flex; align-items: center; font-weight: 700; font-size: 14px; color:#fff; gap:4px}
.ico-point::before{display: block; content:""; width: 18px; height: 18px; background:url("../images/ico/ico-point.svg") no-repeat; background-size: 100% 100%; margin-right: 5px;}

.ico-message::before{display: block; content:""; width: 18px; height: 16px; background:url("../images/ico/ico-message.svg") no-repeat; background-size: 100% 100%; margin-right: 5px;}

.menu{width: 100%; height: 100%; overflow: auto;

  padding-top: env(safe-area-inset-top, 0);
  &::-webkit-scrollbar {
    width: 7px;  
    height: 7px;
}

&::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.4); /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

&::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);  /*스크롤바 뒷 배경 색상*/
    
}
}
.menu-list{display: flex; flex-direction: column; gap:10px; align-items: center;}
.menu-list .menuBtn{display: flex; flex-direction: column; align-items:center ; width: 160px; height:70px; justify-content: center; border-radius: 16px; transition: all 0.2s ease-in-out;}
.menu-list .menuBtn.on, .menu-list .menuBtn:hover{background-color: var(--main-color);}

.menuBtn span{color:#fff; font-size: 16px; font-weight: 500;  text-align: center; display: block; margin-top:5px}

.ico-chatGpt::before {
    content: "";
    background: url(../images/ico/ico-chatGPT.png);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-case::before {
    content: "";
    background: url(../images/ico/ico-case.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-ss::before {
    content: "";
    background: url(../images/ico/ico-ss.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-library::before {
    content: "";
    background: url(../images/ico/ico-library.svg);
    width: 22px;
    height: 21px;
    display: block;
    background-size: 100% 100%;
}

.ico-law::before {
    content: "";
    background: url(../images/ico/ico-law.svg);
    width: 20px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.ico-notice::before {
    content: "";
    background: url(../images/ico/ico-notice.svg);
    width: 22px;
    height: 20px;
    display: block;
    background-size: 100% 100%;
}

.btn-menuSizeToggle{background-color: transparent; margin:30px 0;}
.btn-menuSizeToggle::before{content: ""; background: url(../images/ico/ico-menuSmall.svg); width: 22px; height: 22px; display: block; background-size: 100% 100%;}
.btn-menuSizeToggle.on::before{content: ""; background: url(../images/ico/ico-menurlarge.svg); width: 22px; height: 22px; display: block; background-size: 100% 100%;}

.logo-simg{display: none;}



@media screen and (max-width: 1366px) {
  /* 노트북 해상도  */

}
@media screen and (max-width: 1280px) {
  /*갤럭시탭 해상도*/
}

@media screen and (max-width: 1024px) {
  /* 태블릿 해상도 */
}

@media screen and (max-width: 882px) {
  /* 갤럭시 폴드 해상도 */
}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 576px) {

}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}



/**프린트*/
@page {
  size: A4;
  margin: 0;
}
@media print {
  html,
  body {
    width: 210mm;
    height: 297mm;
    background: #fff;
  }
  /* 기본 스타일 초기화 */
  * {
    box-shadow: none !important;
    text-shadow: none !important;
    background: auto !important; /* 배경 스타일을 초기화하여 자동으로 설정 */
  }

  /* 레이아웃 초기화 */
  body,
  html {
    margin: 0;
    padding: 0;
    line-height: 1.5;
  }

  /* 이미지 */
  img {
    max-width: 100% !important;
    height: auto !important;
    display: block !important;
    page-break-inside: avoid;
  }

  /* 링크 스타일 */
  a {
    text-decoration: underline !important;
    color: #000 !important;
  }

  /* 페이지 구분 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  /* 테이블 */
  table {
    width: 100% !important;
    border-collapse: collapse !important;
  }

  th,
  td {
    border: 1px solid #000 !important;
    padding: 8px !important;
  }

  /* 페이지 안 보이는 요소 숨기기 */
  .no-print,
  .hidden,
  .float-btnWrap,
  #section2 .main-tab,
  #header,
  #footer,
  .main-tab,
  .btn-bottom-wrap {
    display: none !important;
  }
  * {
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari, Edge */
  }
}
